<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Explode01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{140,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{140,111}}</string>
                <key>sourceSize</key>
                <string>{140,115}</string>
            </dict>
            <key>Explode01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,269},{138,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,122}}</string>
                <key>sourceSize</key>
                <string>{140,124}</string>
            </dict>
            <key>Explode01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,123}}</string>
                <key>sourceSize</key>
                <string>{140,127}</string>
            </dict>
            <key>Explode01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,141},{140,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{140,126}}</string>
                <key>sourceSize</key>
                <string>{140,128}</string>
            </dict>
            <key>Explode01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,137},{140,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,131}}</string>
                <key>sourceSize</key>
                <string>{140,131}</string>
            </dict>
            <key>Explode01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,133}}</string>
                <key>sourceSize</key>
                <string>{140,133}</string>
            </dict>
            <key>Explode01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,137}}</string>
                <key>sourceSize</key>
                <string>{140,137}</string>
            </dict>
            <key>Explode01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>Explode02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{64,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{64,63}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>Explode02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,110},{78,77}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{78,77}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>Explode02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,506},{84,83}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{84,83}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>Explode02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,332},{88,87}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>Explode02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,421},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{86,83}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>Explode02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,189},{78,75}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{78,75}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>Explode03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,570},{54,44}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,41},{54,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Explode03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,266},{64,64}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,28},{64,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Explode03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{82,106}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{82,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Explode03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,390},{120,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Explode03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,270},{118,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{118,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Explode03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{122,128}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Flash01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,568},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Flash01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,506},{62,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Flash01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,512},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{62,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Flash02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,512},{58,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Flash02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{62,54}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{62,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Flash02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,564},{62,54}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{62,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Halo01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,503},{114,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ShieldTaken_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,393},{108,116}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{108,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Effect.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>Effect.png</string>
        </dict>
    </dict>
</plist>
