<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss04_Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{404,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,290}}</string>
                <key>sourceSize</key>
                <string>{404,290}</string>
            </dict>
            <key>Boss04_Body01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,806},{404,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,172}}</string>
                <key>sourceSize</key>
                <string>{404,172}</string>
            </dict>
            <key>Boss04_Body01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{404,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,172}}</string>
                <key>sourceSize</key>
                <string>{404,172}</string>
            </dict>
            <key>Boss04_Body02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,122},{121,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,118}}</string>
                <key>sourceSize</key>
                <string>{121,118}</string>
            </dict>
            <key>Boss04_Body02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{121,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,118}}</string>
                <key>sourceSize</key>
                <string>{121,118}</string>
            </dict>
            <key>Boss04_Body03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,980},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>Boss04_Body03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>LevelMap04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,802}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,802}}</string>
                <key>sourceSize</key>
                <string>{480,802}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level04.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>Level04.png</string>
        </dict>
    </dict>
</plist>
