<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss03_Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{525,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,429}}</string>
                <key>sourceSize</key>
                <string>{525,429}</string>
            </dict>
            <key>Boss03_Body01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1128},{63,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,320}}</string>
                <key>sourceSize</key>
                <string>{63,320}</string>
            </dict>
            <key>Boss03_Body01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,806},{63,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,320}}</string>
                <key>sourceSize</key>
                <string>{63,320}</string>
            </dict>
            <key>Boss03_Body02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1665},{231,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,147}}</string>
                <key>sourceSize</key>
                <string>{231,147}</string>
            </dict>
            <key>Boss03_Body02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1898},{231,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,147}}</string>
                <key>sourceSize</key>
                <string>{231,147}</string>
            </dict>
            <key>Boss03_Body03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1665},{231,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,147}}</string>
                <key>sourceSize</key>
                <string>{231,147}</string>
            </dict>
            <key>Boss03_Body03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1898},{213,147}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,147}}</string>
                <key>sourceSize</key>
                <string>{231,147}</string>
            </dict>
            <key>Boss03_Body04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1776},{182,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,109}}</string>
                <key>sourceSize</key>
                <string>{182,109}</string>
            </dict>
            <key>Boss03_Body04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1665},{182,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,109}}</string>
                <key>sourceSize</key>
                <string>{182,109}</string>
            </dict>
            <key>Boss07_Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{440,330}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,330}}</string>
                <key>sourceSize</key>
                <string>{440,352}</string>
            </dict>
            <key>Boss07_Gun01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1450},{27,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,50}}</string>
                <key>sourceSize</key>
                <string>{27,50}</string>
            </dict>
            <key>Boss07_Gun01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1479},{27,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,44}}</string>
                <key>sourceSize</key>
                <string>{27,50}</string>
            </dict>
            <key>Boss07_Gun02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{12,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,23}}</string>
                <key>sourceSize</key>
                <string>{12,23}</string>
            </dict>
            <key>LevelMap03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,802}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,802}}</string>
                <key>sourceSize</key>
                <string>{480,802}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level03.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>textureFileName</key>
            <string>Level03.png</string>
        </dict>
    </dict>
</plist>
