<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Item_FireBall_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,110},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_FireBall_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,434},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_FireBall_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,380},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_FireBall_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,326},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_FireBall_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,272},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_FireDefault_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,380},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_FireDefault_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,326},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_FireDefault_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,272},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_FireDefault_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,218},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_FireDefault_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_HP_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,110},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_HP_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,110},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_HP_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,110},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_HP_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,110},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_HP_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,110},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_IronCurtain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,218},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_IronCurtain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,164},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_IronCurtain_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,110},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_IronCurtain_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,56},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_IronCurtain_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,56},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_Life_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,164},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_Life_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,110},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_Life_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,56},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_Life_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_Life_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_ShieldTaken_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,56},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_ShieldTaken_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,56},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_ShieldTaken_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,56},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_ShieldTaken_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,56},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_ShieldTaken_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,56},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_SideBullet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_SideBullet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_SideBullet_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_SideBullet_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_SideBullet_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_SuperGun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_SuperGun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_SuperGun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_SuperGun_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_SuperGun_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_TrackRocket_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,434},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_TrackRocket_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,380},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_TrackRocket_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,326},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_TrackRocket_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,272},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_TrackRocket_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,218},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_WingMan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_WingMan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_WingMan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_WingMan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>Item_WingMan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Item.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>Item.png</string>
        </dict>
    </dict>
</plist>
