<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CN_Buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,354},{121,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{121,62}}</string>
                <key>sourceSize</key>
                <string>{121,64}</string>
            </dict>
            <key>CN_ConfigBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{346,525}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{346,525}}</string>
                <key>sourceSize</key>
                <string>{348,627}</string>
            </dict>
            <key>CN_FailScoreTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,418},{296,112}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,112}}</string>
                <key>sourceSize</key>
                <string>{318,112}</string>
            </dict>
            <key>CN_Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,827},{418,528}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{418,528}}</string>
                <key>sourceSize</key>
                <string>{470,600}</string>
            </dict>
            <key>CN_HighScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{290,576}}</string>
                <key>offset</key>
                <string>{-51,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,24},{290,576}}</string>
                <key>sourceSize</key>
                <string>{470,600}</string>
            </dict>
            <key>CN_ISExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,74},{278,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,158}}</string>
                <key>sourceSize</key>
                <string>{278,158}</string>
            </dict>
            <key>CN_Level08.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,484},{338,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,69}}</string>
                <key>sourceSize</key>
                <string>{338,69}</string>
            </dict>
            <key>CN_Mission08.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1624},{333,399}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{333,399}}</string>
                <key>sourceSize</key>
                <string>{347,447}</string>
            </dict>
            <key>CN_Option.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{408,600}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,600}}</string>
                <key>sourceSize</key>
                <string>{410,600}</string>
            </dict>
            <key>CN_Plane01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1624},{418,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,82}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>CN_Plane02.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1624},{418,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,82}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>CN_Plane03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1624},{418,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,82}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>CN_Plane04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1624},{418,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,82}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>CN_Plane05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1624},{418,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,82}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>CN_Plane06.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,407},{418,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,82}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>CN_Shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>CN_ShopBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>CN_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1357},{480,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,265}}</string>
                <key>sourceSize</key>
                <string>{480,265}</string>
            </dict>
            <key>Coin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,528},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Coin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,484},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Coin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,484},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Coin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,760},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Coin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,716},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>Difficulty_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,74},{331,18}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,18}}</string>
                <key>sourceSize</key>
                <string>{331,36}</string>
            </dict>
            <key>Volume_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{331,36}</string>
            </dict>
            <key>Volume_Thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Volume_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{331,18}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,18}}</string>
                <key>sourceSize</key>
                <string>{331,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>UI_2.png</string>
        </dict>
    </dict>
</plist>
