<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EN_AdjustFighter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,568},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>EN_Assess01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,130},{90,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,2},{90,28}}</string>
                <key>sourceSize</key>
                <string>{206,32}</string>
            </dict>
            <key>EN_Assess02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,66},{134,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{134,32}}</string>
                <key>sourceSize</key>
                <string>{206,32}</string>
            </dict>
            <key>EN_Assess03.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1984},{46,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,22}}</string>
                <key>sourceSize</key>
                <string>{46,22}</string>
            </dict>
            <key>EN_Assess04.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1984},{60,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>EN_Assess05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,733},{164,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{164,32}}</string>
                <key>sourceSize</key>
                <string>{206,32}</string>
            </dict>
            <key>EN_Assess06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,160},{80,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,2},{80,28}}</string>
                <key>sourceSize</key>
                <string>{206,32}</string>
            </dict>
            <key>EN_Assess07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,1198},{120,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,2},{120,28}}</string>
                <key>sourceSize</key>
                <string>{206,32}</string>
            </dict>
            <key>EN_Assess08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,100},{94,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,2},{94,28}}</string>
                <key>sourceSize</key>
                <string>{206,32}</string>
            </dict>
            <key>EN_Assess09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,2},{146,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{146,32}}</string>
                <key>sourceSize</key>
                <string>{206,32}</string>
            </dict>
            <key>EN_Assess10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,66},{206,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{206,28}}</string>
                <key>sourceSize</key>
                <string>{206,32}</string>
            </dict>
            <key>EN_Assess11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,100},{102,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,2},{102,28}}</string>
                <key>sourceSize</key>
                <string>{206,32}</string>
            </dict>
            <key>EN_Assess12.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1936},{104,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{206,32}</string>
            </dict>
            <key>EN_Assess13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1198},{122,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{122,32}}</string>
                <key>sourceSize</key>
                <string>{206,32}</string>
            </dict>
            <key>EN_Assess14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,36},{136,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{136,28}}</string>
                <key>sourceSize</key>
                <string>{206,32}</string>
            </dict>
            <key>EN_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,533},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>EN_BackMain.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1984},{201,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,44}}</string>
                <key>sourceSize</key>
                <string>{201,44}</string>
            </dict>
            <key>EN_Buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1984},{121,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{121,62}}</string>
                <key>sourceSize</key>
                <string>{121,64}</string>
            </dict>
            <key>EN_ConfigBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,804},{344,525}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{344,525}}</string>
                <key>sourceSize</key>
                <string>{348,627}</string>
            </dict>
            <key>EN_Continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1936},{127,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,44}}</string>
                <key>sourceSize</key>
                <string>{127,44}</string>
            </dict>
            <key>EN_Exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,461},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>EN_FailScoreTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1198},{292,102}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{292,102}}</string>
                <key>sourceSize</key>
                <string>{318,112}</string>
            </dict>
            <key>EN_GameMute.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,389},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>EN_Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1406},{438,528}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{438,528}}</string>
                <key>sourceSize</key>
                <string>{470,600}</string>
            </dict>
            <key>EN_Helps.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,463},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>EN_HighScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1406},{346,576}}</string>
                <key>offset</key>
                <string>{-51,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{346,576}}</string>
                <key>sourceSize</key>
                <string>{470,600}</string>
            </dict>
            <key>EN_HighScores.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,379},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>EN_ISExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1885},{278,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,158}}</string>
                <key>sourceSize</key>
                <string>{278,158}</string>
            </dict>
            <key>EN_Level01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,605},{338,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,69}}</string>
                <key>sourceSize</key>
                <string>{338,69}</string>
            </dict>
            <key>EN_Level02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,767},{338,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,69}}</string>
                <key>sourceSize</key>
                <string>{338,69}</string>
            </dict>
            <key>EN_Level03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,605},{338,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,69}}</string>
                <key>sourceSize</key>
                <string>{338,69}</string>
            </dict>
            <key>EN_Level04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,652},{338,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,69}}</string>
                <key>sourceSize</key>
                <string>{338,69}</string>
            </dict>
            <key>EN_Level05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,393},{338,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,69}}</string>
                <key>sourceSize</key>
                <string>{338,69}</string>
            </dict>
            <key>EN_Level06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,393},{338,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,69}}</string>
                <key>sourceSize</key>
                <string>{338,69}</string>
            </dict>
            <key>EN_Level07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,393},{338,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,69}}</string>
                <key>sourceSize</key>
                <string>{338,69}</string>
            </dict>
            <key>EN_Level08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,422},{338,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,69}}</string>
                <key>sourceSize</key>
                <string>{338,69}</string>
            </dict>
            <key>EN_LevelStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1211},{335,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{335,117}}</string>
                <key>sourceSize</key>
                <string>{341,127}</string>
            </dict>
            <key>EN_Mission01.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,2},{287,429}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,7},{287,429}}</string>
                <key>sourceSize</key>
                <string>{347,447}</string>
            </dict>
            <key>EN_Mission02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,439},{343,425}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{343,425}}</string>
                <key>sourceSize</key>
                <string>{347,447}</string>
            </dict>
            <key>EN_Mission03.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,784},{227,425}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,8},{227,425}}</string>
                <key>sourceSize</key>
                <string>{347,447}</string>
            </dict>
            <key>EN_Mission04.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{277,435}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,8},{277,435}}</string>
                <key>sourceSize</key>
                <string>{347,447}</string>
            </dict>
            <key>EN_Mission05.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,433},{343,371}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{343,371}}</string>
                <key>sourceSize</key>
                <string>{347,447}</string>
            </dict>
            <key>EN_Mission06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{271,389}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,7},{271,389}}</string>
                <key>sourceSize</key>
                <string>{347,447}</string>
            </dict>
            <key>EN_Mission07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,2},{303,385}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{303,385}}</string>
                <key>sourceSize</key>
                <string>{347,447}</string>
            </dict>
            <key>EN_Mission08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,778},{333,391}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{333,391}}</string>
                <key>sourceSize</key>
                <string>{347,447}</string>
            </dict>
            <key>EN_MoreGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,274},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>EN_NewGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,190},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>EN_No.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1984},{54,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>EN_Option.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{410,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,600}}</string>
                <key>sourceSize</key>
                <string>{410,600}</string>
            </dict>
            <key>EN_Options.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1330},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>EN_Plane01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,778},{418,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,82}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>EN_Plane02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,778},{418,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,82}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>EN_Plane03.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,778},{418,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,82}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>EN_Plane04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{418,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,82}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>EN_Plane05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,2},{418,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,82}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>EN_Plane06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{418,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,82}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>EN_Save.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1330},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>EN_ScoreTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1936},{306,102}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{306,102}}</string>
                <key>sourceSize</key>
                <string>{318,112}</string>
            </dict>
            <key>EN_Shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1331},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>EN_ShopBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>EN_StartGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1331},{187,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,70}}</string>
                <key>sourceSize</key>
                <string>{187,70}</string>
            </dict>
            <key>EN_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1403},{480,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,211}}</string>
                <key>sourceSize</key>
                <string>{480,211}</string>
            </dict>
            <key>EN_TouchBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,393},{369,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,77}}</string>
                <key>sourceSize</key>
                <string>{369,77}</string>
            </dict>
            <key>EN_Yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1984},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>UI_3.png</string>
        </dict>
    </dict>
</plist>
