<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Airport.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{200,386}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{200,386}}</string>
                <key>sourceSize</key>
                <string>{218,390}</string>
            </dict>
            <key>Boss05_Base.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{400,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,283}}</string>
                <key>sourceSize</key>
                <string>{400,283}</string>
            </dict>
            <key>Boss05_Body01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{24,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,266}}</string>
                <key>sourceSize</key>
                <string>{24,266}</string>
            </dict>
            <key>Boss05_Body01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,996},{24,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,266}}</string>
                <key>sourceSize</key>
                <string>{24,266}</string>
            </dict>
            <key>Boss05_Body02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,205},{188,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,89}}</string>
                <key>sourceSize</key>
                <string>{188,89}</string>
            </dict>
            <key>Boss05_Body02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,114},{188,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,89}}</string>
                <key>sourceSize</key>
                <string>{188,89}</string>
            </dict>
            <key>Boss05_Body03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,806},{188,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,89}}</string>
                <key>sourceSize</key>
                <string>{188,89}</string>
            </dict>
            <key>Boss05_Body03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,806},{188,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,89}}</string>
                <key>sourceSize</key>
                <string>{188,89}</string>
            </dict>
            <key>Boss05_Body04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,58},{116,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,54}}</string>
                <key>sourceSize</key>
                <string>{116,54}</string>
            </dict>
            <key>Boss05_Body04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{116,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,54}}</string>
                <key>sourceSize</key>
                <string>{116,54}</string>
            </dict>
            <key>Boss05_Gun01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,996},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>LevelMap01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,802}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,802}}</string>
                <key>sourceSize</key>
                <string>{480,802}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>Level01.png</string>
        </dict>
    </dict>
</plist>
